* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

body {
    background-color: aqua;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 440px;
    width: 100%;
    /* background-color: blueviolet; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input_box {
    max-width: 345px;
    width: 100%;
    height: 40px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 8px;
}

.error_message {
    margin-right: 180px;
    margin-top: 5px;
}